@import '../../scss/vars';

.projects {
  &__title {
    @extend %page-title;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__addBtn {
    @extend %add-btn;
    background-color: $color1;
    margin-bottom: 30px;

    &:hover {
      background-color: $color1Hover;
    }
  }

  &__addIcon {
    margin-right: 5px;
  }

  .error {
    @extend %error;
  }
}

.project {
  font-size: 16px;
  border: 1px solid $color8;
  border-radius: 8px;
  padding: 15px 10px 40px 10px;
  position: relative;

  &__box,
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__controls {
    margin-bottom: 0;
  }

  &__link {
    @extend %project-btn;
    margin-right: 8px;

    &:hover {
      background-color: $color7Hover;
    }
  }

  &__deleteBtn {
    padding: 6px;
  }

  &__status {
    margin-right: 15px;
  }

  &__status_bold {
    font-weight: 500;
  }

  &__error {
    @extend %error;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
  }
}
