@import '../../scss/vars';

.notFound {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 50px;
    font-weight: 500;
  }

  &__img {
    max-width: 500px;
    max-height: 500px;
  }

  &__btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color1;
    color: $color3;
    padding: 15px 25px;
    width: 350px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color1Hover;
    }
  }
}
