@import '../../scss/vars';

.clients {
  &__title {
    @extend %page-title;
  }

  &__addBtn {
    @extend %add-btn;
    background-color: $color6;

    &:hover {
      background-color: $color6Hover;
    }
  }

  &__addIcon {
    margin-right: 5px;
  }
}

.client {
  padding: 10px 0;
  border-bottom: 1px solid $color4;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 5px;
  }

  &__iconEmail {
    margin-top: 4px;
  }

  &__email:hover {
    text-decoration: underline;
  }

  &__controls {
    display: flex;
    align-items: center;
    width: 80px;
  }

  &__delete {
    padding: 8px;
    background-color: $color5;
    border-radius: 5px;
    transition: all 0.2s;
    margin: 0 0 0 auto;

    &:hover {
      background-color: $color5Hover;
    }
  }

  &__deleteIcon {
    color: $color3;
  }

  &__preloader {
    width: 30px;
    height: 30px;
    // margin-right: 10px;
  }

  &__error {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
  }
}

.error {
  @extend %error;
}
