@import '../../scss/vars';

.clients {
  &__title {
    @extend %page-title;
  }

  &__preloader {
    width: 100px;
    height: 100px;
  }

  &__addBtn {
    transition: all 0.2s;
    padding: 5px 10px;
    color: $color3;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: $color6;
    margin-bottom: 10px;

    &:hover {
      background-color: $color6Hover;
    }
  }

  &__addIcon {
    margin-right: 5px;
  }
}

.client {
  padding: 10px 0;
  border-bottom: 1px solid $color4;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    font-size: 20px;
    display: block;
  }

  &__email:hover {
    text-decoration: underline;
  }

  &__delete {
    padding: 8px;
    background-color: $color5;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
      background-color: $color5Hover;
    }
  }

  &__icon {
    color: $color3;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__preloader {
    @extend %preloader;
  }

  &__error {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
  }
}

.error {
  @extend %error;
}
