@import '../../../scss/vars';

.project {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid $color8;
  border-radius: 8px;
  font-size: 20px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    margin-right: 40px;
  }

  &__goBack {
    @extend %project-btn;
    font-weight: 500;
    width: 80px;
    font-size: 16px;

    &:hover {
      background-color: $color7Hover;
    }
  }

  &__descr {
    color: $color4;
    font-size: 18px;
    margin-bottom: 40px;
  }

  &__statusBox {
    margin-bottom: 80px;
  }

  &__statusTitle {
    @extend %project-subtitle;
  }

  &__status {
    font-size: 18px;
    color: $color4;
  }

  &__editBtn,
  &__deleteBtn {
    @extend %project-btn;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
  }

  &__editBtn {
    margin-bottom: 20px;

    &:hover {
      background-color: $color7Hover;
    }
  }

  &__deleteBtn {
    background-color: $color5;
    color: $color3;

    &:hover {
      background-color: $color5Hover;
    }
  }

  &__deleteError {
    margin-top: 20px;
  }
}

.info {
  width: 100%;
  margin-bottom: 20px;

  &__title {
    @extend %project-subtitle;
  }

  &__box {
    padding: 15px 20px;
    border: 1px solid $color8;
    border-radius: 8px;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color8;
  }

  &__icon {
    margin-right: 5px;
  }
}

.error,
.project__deleteError {
  @extend %error;
  text-align: left;
  font-size: 16px;
}
